* {
    box-sizing: border-box;
}

.home {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.sub-main div > p:first-child {
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 25px;
}

.sub-main div:last-child  {
 margin: 0px;
}

.sub-main div:last-child p  {
    height: 100px;
    margin: 30px 0px 0px 0px;
}

form {
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
border: 2px solid rgb(47, 47, 121);
border-radius: 20px;
padding: 20px;
margin: 0 auto;
background-color: aliceblue;
box-shadow:black 2px 2px 5px;
margin-bottom: 70px;
}

form label {
    margin-bottom: 5px;
    font-size: large;
}

form label + input{
    width: 285px;
    padding: 15px;
}

::placeholder {
    text-align: center;
}

form input {
    margin: 10px;
}

.sub-btn {
    width: 325px; 
    padding: 10px;
    margin-bottom: 25px;
}

@media (max-width: 425px) {

    .sub-main div > p:first-child {
        font-size: large;
        margin-bottom: 50px;
        margin-top: 25px;
    }

    form {
        max-width: 375px;
        }

        form label {
            margin-bottom: 5px;
            font-size: large;
        }
        
        form label + input{
            width: 230px;
            padding: 15px;
        }

        .sub-btn {
            width: 230px; 
            padding: 10px;
            margin-bottom: 25px;
        }
}

.check{
 margin: 15px;
}

.check label {

}

.check input {
    width: auto;
}

.selected-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.selected-sec p {
    flex-basis: 25%;
    margin: 25px;
    font-size: large !important;
}
.errorp{
    color: red;
}